<div class="side-bar-header">
  <div class="header-name">
  <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
  </div>
  <div class="create-room">
  <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>